<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>
    <h1>Register</h1>
    <div class="card w-75 mx-auto">
        <div class="card-body">
            <p th:if="${feedback}" th:text="${feedback}"></p>
            <form th:action="@{/register}" method="post">
                <label for="email">Prénom :</label>
                <input type="text" id="firstName" class="form-control" th:field="${user.firstName}">
                <label for="email">Nom :</label>
                <input type="text" id="lastName" class="form-control" th:field="${user.lastName}">
                
                <label for="email">Email :</label>
                <input type="email" id="email" class="form-control" th:field="${user.email}">
                <label for="password">Password :</label>
                <input type="password" id="password" class="form-control" th:field="${user.userPassword}">
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>

</body>

</html>